<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet">
    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>

    <title>Gamerbook</title>
    <style>
        .hvy {
            font-family: 'Orbitron', sans-serif;
            font-weight: 900;
            color: black;
        }

        .lite {
            font-family: 'Orbitron', sans-serif;
            font-weight: 400;
            color: #f44336;
        }
          .sidebar {
    overflow: auto;
    position: -webkit-sticky left;
    position: sticky;
    top: 5%;
    background-color: rgb(240, 240, 240);
    float: left;
    width: 100%;
    padding: 1rem;
  }

  h3,
  h6 {
    font-family: "Orbitron", sans-serif;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .container-fluid {
    margin-top: 56px;
    padding: 0px;
  }

  code,
  pre {
    background-color: #ccc;
    padding: 0 3px;
    border-radius: 5px;
  }

  .bottom {
    justify-self: bottom;
  }

  #profile-img {
    border-radius: 50%;
  }
    </style>

  <meta name="google-site-verification" content="9d-iVnFswad_CW1_XiRU1D3di72bIJih7CX2ufaasVk" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">
            <img src="/img/mario.png" width="30" height="30" class="d-inline-block align-top" alt="">

            <span class="hvy">gamer</span><span class="lite">book</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="/createAccount">Create Account</a>
                </li>
            </ul>
        </div>

    </nav>
    {{{body}}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
</body>

</html>