<div class="create-details">
    <form>
    <div class="form-group">
        <label for="create-username">Create username</label>
        <input type="input" class="form-control" id="create-username" aria-describedby="create-username"
        placeholder="Enter desired username">
        <hr>
        <label for="create-description">Write something about yourself</label>
        <input type="input" class="form-control" id="create-description" aria-describedby="create-description"
        placeholder="Enter description">
    </div>
    <button type="submit" id="create-btn" class="btn btn-primary">Submit Details</button>
    </form>
</div>