<style>
  .sidebar {
    overflow: auto;
    position: -webkit-sticky left;
    position: sticky;
    top: 5%;
    background-color: rgb(240, 240, 240);
    float: left;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h3,
  h6 {
    font-family: "Orbitron", sans-serif;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .container-fluid {
    margin-top: 56px;
    padding: 0px;
  }

  code,
  pre {
    background-color: #ccc;
    padding: 0 3px;
    border-radius: 5px;
  }

  .bottom {
    justify-self: bottom;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1"><br>
      <h3>Recently added games</h3>
      <div id="news-feed">
        <table class="table table-sm table-hover" id="games-table">
          <thead>
            <tr>
              <th scope="col">Game name</th>
              <th scope="col">Date added</th>
              <th scope="col">More info</th>
            </tr>
          </thead>
          <tbody>
            {{#each games}}

            <tr>
              <td>{{this.name}}</td>
              <td>{{this.createdAt}}</td>
              <td>Link here</td>
            </tr>
            {{/each}}

          </tbody>
        </table>


      </div>
    </div>
  </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
{{!-- <script src="/js/news.js"></script> --}}